.modal-body {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.campo-grupo {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.campo-etiqueta {
  font-size: 0.8rem;
  color: var(--p-text-muted-color);
}
