<p-card>
  <h2>Mis giftcards</h2>

  <p-table [value]="giftcards()" dataKey="id">
    <ng-template pTemplate="header">
      <tr>
        <th>Código</th>
        <th>Monto</th>
        <th>Estado</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-giftcard>
      <tr>
        <td>{{ giftcard.codigo }}</td>
        <td>{{ giftcard.monto | currency: 'CLP' : 'symbol' : '1.0-0' }}</td>
        <td><p-tag [value]="estado(giftcard)" /></td>
        <td><p-button label="Ver" (onClick)="verDetalle(giftcard)" /></td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="4">Sin giftcards otorgadas, o todas vencidas.</td>
      </tr>
    </ng-template>
  </p-table>
</p-card>

<app-giftcard-detail-drawer
  [(visible)]="detalleVisible"
  [giftcard]="giftcardSeleccionada()"
  (activar)="activarGiftcard($event)"
  (bloquear)="bloquearGiftcard($event)"
  (reiniciarActivacion)="reiniciarActivacionGiftcard($event)"
/>
