<p-button label="Informe" icon="pi pi-download" [outlined]="true" (onClick)="abrir()" />

<p-popover #op>
  <div class="informe-body">
    <div class="campo-grupo">
      <label class="campo-etiqueta" for="informe-tipo">Tipo de movimiento</label>
      <p-select
        inputId="informe-tipo"
        [options]="opcionesTipo"
        optionLabel="label"
        optionValue="value"
        [ngModel]="filtroTipo()"
        (ngModelChange)="filtroTipo.set($event)"
        [fluid]="true"
      />
    </div>

    <div class="informe-fechas">
      <div class="campo-grupo">
        <label class="campo-etiqueta" for="informe-desde">Desde</label>
        <p-datepicker inputId="informe-desde" dateFormat="dd/mm/yy" appendTo="body" [ngModel]="fechaDesde()" (ngModelChange)="fechaDesde.set($event)" [fluid]="true" />
      </div>
      <div class="campo-grupo">
        <label class="campo-etiqueta" for="informe-hasta">Hasta</label>
        <p-datepicker inputId="informe-hasta" dateFormat="dd/mm/yy" appendTo="body" [ngModel]="fechaHasta()" (ngModelChange)="fechaHasta.set($event)" [fluid]="true" />
      </div>
    </div>

    <p-button label="Descargar planilla" icon="pi pi-file-export" (onClick)="descargar()" />
  </div>
</p-popover>
